# custom
dist
.DS_Store
Thumbs.db
tmp
temp/

components.d.ts

# lock
yarn.lock
package-lock.json
pnpm-global/

# dev
node_modules/
*.log

# dist
public/
db.json
.deploy*/

# hexo
# now we don't need themes, just by 'npm i hexo-theme-yun'
themes/
