// Custom styles.

// 鼠标样式
//   * {
//       cursor: url("http://om8u46rmb.bkt.clouddn.com/sword2.ico"),auto!important
//   }
//   :active {
//       cursor: url("http://om8u46rmb.bkt.clouddn.com/sword1.ico"),auto!important
//   }